<html>

<head>
    <title>Top search StackOverflow</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>


<body>
    <div class="main-block">
        <div class="left-part">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-at"></i>
            <i class="fas fa-mail-bulk"></i>
        </div>
        <form action="/search" method="post">
            <h1>Top Question hightest vote on StackOverflow</h1>
            <div class="info">
                <input class="fname" id="topic" type="text" name="topic" placeholder="Search topic">
                <input type="number" name="number" id="number" placeholder="Number result">
                <input type="submit" value="Search">
            </div>
            <!-- <button type="submit" href="/"> -->
            </button>
        </form>

        <form action=" /search" method="post">

        </form>
    </div>
</body>